@use 'normalize';
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

//colors
$gray: #f4f4f7;
$coral: #fde9e9;
$purple: #711fff;
$lightpurple: rgba(113, 31, 255, 0.25);
//mixins
@mixin purple-gradient($direction, $grayPercent) {
  background: linear-gradient(to $direction, $gray $grayPercent, $lightpurple);
}
//animations
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
